<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>servlet-crud</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>servlet-crud</servlet-name>
    <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>0</param-value>
    </init-param>
    <init-param>
      <param-name>listings</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>DisplayUsers</servlet-name>
    <servlet-class>superpikar.servlet.basic.DisplayUsers</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FileUpload</servlet-name>
    <servlet-class>superpikar.servlet.basic.FileUpload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LinkTracker</servlet-name>
    <servlet-class>superpikar.servlet.basic.LinkTracker</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SampleServlet</servlet-name>
    <servlet-class>superpikar.servlet.basic.SampleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowForm</servlet-name>
    <servlet-class>superpikar.servlet.basic.ShowForm</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowHeaders</servlet-name>
    <servlet-class>superpikar.servlet.basic.ShowHeaders</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowParameters</servlet-name>
    <servlet-class>superpikar.servlet.basic.ShowParameters</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowSource</servlet-name>
    <servlet-class>superpikar.servlet.basic.ShowSource</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FileExplorerController</servlet-name>
    <servlet-class>superpikar.servlet.admin.controller.FileExplorerController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>superpikar.servlet.admin.controller.HomeController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>superpikar.servlet.admin.controller.LoginController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PostController</servlet-name>
    <servlet-class>superpikar.servlet.admin.controller.PostController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TermController</servlet-name>
    <servlet-class>superpikar.servlet.admin.controller.TermController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserController</servlet-name>
    <servlet-class>superpikar.servlet.admin.controller.UserController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HomeClientController</servlet-name>
    <servlet-class>superpikar.servlet.client.controller.HomeClientController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PostClientController</servlet-name>
    <servlet-class>superpikar.servlet.client.controller.PostClientController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FilesController</servlet-name>
    <servlet-class>superpikar.servlet.client.controller.FilesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet-crud</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DisplayUsers</servlet-name>
    <url-pattern>/display-users</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileUpload</servlet-name>
    <url-pattern>/file-upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LinkTracker</servlet-name>
    <url-pattern>/link-tracker</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SampleServlet</servlet-name>
    <url-pattern>/sample-servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowForm</servlet-name>
    <url-pattern>/show-form</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowHeaders</servlet-name>
    <url-pattern>/show-headers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowParameters</servlet-name>
    <url-pattern>/show-parameters</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowSource</servlet-name>
    <url-pattern>/show-source</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileExplorerController</servlet-name>
    <url-pattern>/admin/files</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/admin/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostController</servlet-name>
    <url-pattern>/admin/news</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TermController</servlet-name>
    <url-pattern>/admin/term</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/admin/user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FilesController</servlet-name>
    <url-pattern>/files/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomeClientController</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostClientController</servlet-name>
    <url-pattern>/news</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>superpikar.servlet.basic.ConcurrentUserTracker</listener-class>
  </listener>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>superpikar.servlet.admin.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
</web-app>